In [1]:
# string
# string constructor is str()
# string literal is '',"","""""",''''''
# string is a set of sequence of character.
# string support indexing 
# string support slicing 
# string support concatination 
# string is immutable of hashable datatype
# string have various methods.

In [13]:
a=str()   # using constructor created a empty string
a

''

In [16]:
# using literal create empty string 

b=''
print(type(b))
b

<class 'str'>

''

In [17]:
c=""
print(type(c))
c

<class 'str'>

''

In [18]:
d=""""""
print(type(d))
d

<class 'str'>

''

In [19]:
e=''''''
print(type(e))
e

<class 'str'>

''

In [11]:
print("this is krishna")
print("hello world")
print(10)

this is krishna
hello world
10

In [22]:
# string support indexing 
a="krishna"
print(a)
print(type(a))

krishna
<class 'str'>

In [23]:
b='krishna'
print(type(b))
print(b)

<class 'str'>
krishna

In [25]:
c="""krishna"""
print(type(c))
print(c)

<class 'str'>
krishna

In [26]:
d='''krishna'''
print(type(d))
print(d)

<class 'str'>
krishna

In [35]:
print("this is krishna kumar")
print('this is krishna kumar')

this is krishna kumar
this is krishna kumar

In [38]:
print("""this is 

                    krishna kumar """)
print('''this is
            krishna
                             kumar ''')

this is

                    krishna kumar
this is
            krishna
                             kumar

In [49]:
# string is a set of sequence of character.
# string support indexing 

a="KRISHNA"

In [50]:
print(a)

KRISHNA

In [51]:
print(a[0])

K

In [52]:
print(a[-7])

K

In [53]:
a.index("K")

0

In [54]:
# string support slicing

In [55]:
print(a)

KRISHNA

In [56]:
a[1:4]

'RIS'

In [59]:
print(a[1:5:1])

RISH

In [61]:
print(a[2342342:4324234234;43434])

SyntaxError: invalid syntax (1821954798.py, line 1)

In [62]:
print(a[1:7:1])

RISHNA

In [63]:
print(a[1::1])

RISHNA

In [64]:
print(a[1::])

RISHNA

In [65]:
print(a[1:])

RISHNA

In [67]:
a[1:-2:1]

'RISH'

In [72]:
a[-1:-8:-1]

'ANHSIRK'

In [73]:
a[-1::-1]

'ANHSIRK'

In [74]:
a[::-1]

'ANHSIRK'

In [75]:
a[::]

'KRISHNA'

In [76]:
a[6:-8:-1]

'ANHSIRK'